.topo {
    background-color: #000000;
    background-position: left top;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center; 
    gap: 550px;
  }
 
  .titulo {
    font-size: 2rem;
    margin: 0;
  }
 

